html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #000000; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.headerimage{
  position: absolute;
  left: 2%;
  top: 1.5%;
}
.spotifylogo{
  height: 100px;
  width: 200px;
  margin-top: -5px;
  display: block;
  margin-left: auto;
}

.headertext{
  margin-left: auto;
  position: absolute;
  top: 43px;
  margin-top: -5px;
  right: 170px;
  font-family: arial;
  font-weight: bold;
  color: white;
}

.loginbtn{
  margin-left: auto;
  position: absolute;
  top: 43px;
  margin-top: -5px;
  left: 8%;
  font-family: arial;
  font-weight: bold;
  color: white;
}

.loginbtn:hover{
  cursor: pointer;
}

@keyframes slideIn {
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.homepage{
  border: 3px solid rgb(60, 71, 221);
  border-radius: 25px;
  background-color: black;
  padding: 20px 0;
  height: 81%;
}
.homepagetext{
  position: fixed;
  top: 23%;
  left: 19%;
  padding: 30px 0;
  text-align: center;
  border-radius: 25px;
  font-family: arial;
  color: white;
  font-size: 20px;
}
.homepageImg{
  position: fixed;
  right: 20%;
  top: 13%;
  height: 750px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 25px;
}

.text{
  left: 19%;
  margin-top: -10px;
  top: 33%;
  text-align: left;
  font-family: arial;
  color: white;
  font-size: 16px;
  position: fixed;
}

.button{
  border-radius: 5px;
  font-family: arial;
  color: blue;
  width: 65px;
}

.buttons{
  top: 46%;
  margin-top: -20px;
  text-align: center;
  color: blue;
  height: 250px;
  left: -23.5%;
  position: relative;
}

.textarea{
  position: relative;
  left: 42%;
  top: 16.5%
}
.textbox{
  border: 2px solid rgb(64, 71, 207);
  border-radius: 18px;
  font-family: arial;
}

.custom{
  border: 3px solid rgb(60, 71, 221);
  border-radius: 25px;
  background-color: black;
  padding: 30px 0;
  height: 81%;
}

.customtext{
  font-family: arial;
  color: white;
  left: 43.5%;
  position: absolute;
  top: 30%;
}

.buttons-custom{
  position: relative;
  top: 13%;
  left: 42.5%;
  padding: 30px 0;
}
.preview{
  padding: 30px 30px;
  position: absolute;
  color: white;
}

.previewbutton{
  border-radius: 5px;
  font-family: arial;
  color: blue;
  width: 65px;
  position: absolute;
  left: 50%;
  right: 50%;
}

.resulttext{
  text-align: center;
  color: white;
  font-family: arial;
  height: 750px;
}

.textbox{
  height: 100px;
  width: 300px;
}

.dropdown{
  margin-top: -20px;
  position: relative;
  left: 759px;
}

.dropdownbox{
  width: 190px;
  height: 50px;
  text-align: center;
}

.previewbox{
  border-radius: 15px;
}

.modal{
  border-radius: 5px;
  border: 3px solid rgb(255, 255, 255);
  height: 300px;
  width: 300px;
  background-color: #000000;
}

.modaltext{
  text-align: center;
  color: white;
  font-family: arial;
}

.closemodal{
  position: absolute;
  top: 0%;
  right: 0%;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #3d2dc9;
  border: 3px solid rgb(255, 255, 255);
}

.icon{
  background-color: #000000;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 30px; 
}
.icon:hover{
  cursor: pointer;
}
.icon-image{
  height: 40px;
}

.icons{
  position: absolute;
  top: 50%;
  left: 22%;
}

.resultpage{
  border: 3px solid rgb(60, 71, 221);
  border-radius: 25px;
  background-color: black;
  padding: 20px 0;
  height: 85%;
}