html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #000000; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.headerimage{
  position: absolute;
  left: 2%;
  top: 1.5%;
}
.spotifylogo{
  height: 100px;
  width: 200px;
  margin-top: -5px;
  display: block;
  margin-left: auto;
}

.headertext{
  margin-left: auto;
  position: absolute;
  top: 43px;
  margin-top: -5px;
  right: 170px;
  font-family: arial;
  font-weight: bold;
  color: white;
}

.homepagetext{
  padding: 30px 0;
  text-align: center;
  border-radius: 25px;
  font-family: arial;
  left: 50%;
  right: 50%;
  color: white;
}

.homepage{
  border: 3px solid rgb(255, 255, 255);
  border-radius: 25px;
  background-color: black;
  padding: 20px 0;
}

.text{
  margin-top: -20px;
  text-align: center;
  font-family: arial;
  left: 50%;
  right: 50%;
  color: white;
}

.button{
  border-radius: 5px;
  font-family: arial;
  color: blue;
  width: 65px;
}

.buttons{
  margin-top: -20px;
  text-align: center;
  left: 50%;
  right: 50%;
  color: blue;
  height: 500px;
}

.textarea{
  margin-top: -20px;
  text-align: center;
  font-family: arial;
  left: 50%;
  right: 50%
}

.preview{
  padding: 30px 30px;
  position: absolute;
  color: white;
}

.previewbutton{
  border-radius: 5px;
  font-family: arial;
  color: blue;
  width: 65px;
  position: absolute;
  left: 50%;
  right: 50%;
}

.resulttext{
  text-align: center;
  color: white;
  font-family: arial;
  height: 750px;
}

.textbox{
  height: 100px;
  width: 300px;
}

.dropdown{
  margin-top: -20px;
  position: relative;
  left: 759px;
}

.dropdownbox{
  width: 190px;
  height: 50px;
  text-align: center;
}

.previewbox{
  border-radius: 15px;
}