body{ background-color: rgb(0, 0, 0);}

#doc3{ background-color: rgb(0, 0, 0);} 

#bd { background-color: rgb(0, 0, 0);} 

#yui-main { background-color: rgb(0, 0, 0);}

.spotifylogo{
  height: 100px;
  width: 200px;
  margin-top: -20px;
  display: block;
  margin-left: auto;
}

.headertext{
  margin-left: auto;
  position: absolute;
  top: 69px;
  margin-top: -20px;
  right: 170px;
  font-family: arial;
  font-weight: bold;
  
}

.homepagetext{
  padding: 70px 0;
  text-align: center;
  border-radius: 25px;
  font-family: arial;
}
.homepage{
  border: 3px solid rgb(255, 255, 255);
  border-radius: 25px;
}